---
import { ContactForm } from '../components/ContactForm';
import Layout from '../components/layout/Layout.astro';
import UserHead from '../components/UserHead.astro';
import Video from '../components/pages/index/Video.astro';
import Title from '../components/Title.astro';
import { Image } from '@astrojs/image/components';
import 'locomotive-scroll/dist/locomotive-scroll.css';

// Import of assets
import bgImageUrl from '../assets/bg-image.jpg';
import ondrejLangrUrl from '../assets/ondrej-langr.png';
import arnostZizkaUrl from '../assets/arnost-zizka.webp';
import martinStaryUrl from '../assets/martin-stary.jpg';
import terezaZizkovaUrl from '../assets/tereza-zizkova.jpg';
import vojtechZizkaUrl from '../assets/vojtech-zizka.jpg';
import lenkaCernouskovaUrl from '../assets/lenka-cernouskova.jpg';
import kristynaZizkovaUrl from '../assets/kristyna-zizkova.jpg';

const teamMembers = [
  {
    name: 'Martin Starý',
    title: 'Marketing',
    imageUrl: martinStaryUrl,
  },
  {
    name: 'Ondřej Langr',
    title: 'Programátor',
    imageUrl: ondrejLangrUrl,
  },
  {
    name: 'Arnošt Žižka',
    title: 'Systém administrátor',
    imageUrl: arnostZizkaUrl,
  },
  {
    name: 'Tereza Žižková',
    title: 'Grafik',
    imageUrl: terezaZizkovaUrl,
  },
  {
    name: 'Vojtěch Žižka',
    title: 'Grafik',
    imageUrl: vojtechZizkaUrl,
  },
  {
    name: 'Lenka Černoušková',
    title: 'Finance',
    imageUrl: lenkaCernouskovaUrl,
    imagePosition: 'center',
  },
  {
    name: 'Kristýna Žižková',
    title: 'Prodejna Fénix',
    imageUrl: kristynaZizkovaUrl,
    imagePosition: 'center',
  },
];
---

<Layout>
  <div class="relative mt-10 z-[1]" id="uvod">
    <Image
      class="w-full h-3/5 sm:h-[85%] max-w-[1900px] absolute left-1/2 -translate-x-1/2 top-0 object-cover object-top"
      alt=""
      src={bgImageUrl}
    />
    <div class="relative">
      <h1
        class="text-center text-5xl sm:text-7xl font-extrabold leading-[4rem] sm:leading-[6.5rem] text-deep-green-700 text-shadow pt-32"
      >
        Vítejte na Stránce <br /> Najít & Najíst
      </h1>
      <hr
        class="m-0 h-1 bg-deep-green-700 mx-auto w-[40%] sm:w-full sm:max-w-[700px] my-6 border-none"
      />
      <p
        class="text-2xl sm:text-[35px] font-bold text-center mt-10 text-shadow text-deep-green-700 mb-7"
      >
        Jsi tu správně pokud hledáš řešení na:
      </p>
      <ul
        class="list-none max-w-4xl px-10 mx-auto font-bold w-full mt-5 text-2xl sm:text-2xl flex flex-col gap-6 text-shadow-sm"
      >
        <li>{'>'}Intoleranci / Alergii na Lepek</li>
        <li>{'>'}Intoleranci / Alergii na Laktózu</li>
        <li>
          {'>'}jiný zdravotní důvod nebo doporučení lékaře se lepku a laktóze
          vyhýbat
        </li>
      </ul>
      <ContactForm client:visible />
    </div>
  </div>

  <Video />

  <div class="max-w-5xl px-4 mx-auto text-center mt-20 leading-7">
    <p class="font-bold text-xl opacity-80">
      Právě se vší vervou programujeme krásné moderní stránky s aplikací pro
      mobily s Android i iOS systémy. Pro vás registrované uživatele jsme
      připravili koncept odměňovacího systému, hodnocení spolupracujících
      podniků, které navštívíte, výměnu receptů, naši vlastní (první) prodejnu
      pečiva s objednávkovým systémem, prostor pro rozhovory s námi a webináře
      se zajímavými lidmi z oblasti zdravé výživy, a to vše budeme postupně
      aktivovat na této adrese. Zkušební provoz plánujeme spustit na konci října
      a příští rok spustíme i vlastní e-shop.
    </p>
    <p class="font-bold mt-3 text-xl opacity-80">
      Pokud nám necháte už nyní na sebe kontakt vyplněním formuláře výše,
      pošleme vám zprávu, jakmile budou stránky aktivní.
    </p>
    <p class="text-2xl font-bold mt-5">Tak co, zkusíte to s námi?</p>
  </div>

  <div class="px-4 mt-20" id="nas-team">
    <div class="mx-auto text-center">
      <Title>Náš tým</Title>
    </div>
    <div class="flex flex-wrap items-center justify-center gap-5">
      {
        teamMembers.map((memberInfo) => (
          <UserHead
            image={memberInfo.imageUrl}
            name={memberInfo.name}
            position={memberInfo.title}
            imagePosition={memberInfo.imagePosition}
          />
        ))
      }
    </div>
  </div>
</Layout>
