<%- include('../../layout/header') -%>

Nový dotaz:

<ul>
  <li>Email: <a href="mailto:<%= email %>"><%= email %></a> </li>
  <li>Jméno: <%= firstName %> <%= lastName %> </li>
  <li>Telefonní číslo: <%= telephone ?? "" %> </li>
  <li>Zpráva: <%= message %> </li>
</ul>

<%- include('../../layout/footer') -%>